[Unit]
Description=OVOS Dinkum Listener
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service
After=ovos-pulseaudio.service

[Service]
Type=notify
ExecStart=%h/.venv/bin/python /usr/libexec/ovos-systemd-listener
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4

[Install]
WantedBy=ovos.service

