[Unit]
Documentation=https://github.com/OpenVoiceOS/ovos-audio-transformer-plugin-ggwave
Description=Open Voice OS - ggwave listener
PartOf=ovos.service
Requires=ovos.service ovos-messagebus.service ovos-skills.service ovos-dinkum-listener.service

[Service]
WorkingDirectory=%h/.venv
ExecStart=%h/.venv/bin/ovos-ggwave-listener
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s KILL $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=ovos.service